html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.wrap {
  margin: 0 auto;
  max-width: 500px;
  width: 500px;
}

body {
  background: white;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 19px;
}

a {
  color: #800000;
}

img {
  max-width: 100%;
}

.wrap {
  padding: 20px 0;
}

.cart {
  background: #d2f8d2;
  padding: 10px 14px;
  min-height: 50px;
  border-radius: 4px;
  margin-bottom: 1em;
  border: 1px solid white;
}
.cart h4 {
  margin-bottom: .8em;
}

.catalog {
  font-size: 0;
  margin-bottom: 30px;
}
.catalog li {
  background: white;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  width: 150px;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.catalog li img {
  display: block;
  margin-bottom: 4px;
}
